<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Agregar Medicamento</h1>
    </div>
    <div class="panel-body">
        <form name="forma_agregarmedicamento" action="" method="POST" action="">
        <div class="form-group">
            <label for="txtMedicamento">Nombre del Medicamento</label>
            <input type="text" maxlength="45" size="15" placeholder="BELOKEN" [(ngModel)]="modelo.nom_medicamento" 
            autocomplete="off" name="txtMedicamento" id="txtMedicamento" class="form-control"
            style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required>
        </div>
        <div class="form-group">
            <label for="txtGenerico">Nombre Genérico</label>
            <input type="text" maxlength="45" size="15" placeholder="METOPROLOL" [(ngModel)]="modelo.nom_generico" 
            autocomplete="off" name="txtGenerico" id="txtGenerico" class="form-control"
            style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required>
        </div>
        <div class="form-group">
            <label for="cb_tipomedida">Tipo de Medida</label>
              <!-- Aqui esta el ejemplo que manda llamar el combobox de las medidas -->
            <select class="form-control" [(ngModel)]="modelo.tipo_medida" name="cb_tipomedida" id="cb_tipomedida"  required>
                <option value="{{medida.id_medida}}" *ngFor="let medida of generateArray(medidas)" >{{medida.nom_medida}}</option>
            </select>
        </div>
        <div>
            <div class="btn-group">
                <input class="btn btn-success" type="submit" (click)="insertarMedicamento();" value="AGREGAR MEDICAMENTO">
                <button class="btn btn-default" type="reset">LIMPIAR CAMPOS</button>
            </div>
            <br>
            <br>
            <div *ngIf="messageOK" class="alert alert-success">{{messageOK}}</div>
            <div *ngIf="message" class="alert alert-danger">{{message}}</div>
        </div>
        </form>
    </div>
</div>

