<table class="table">
    <thead> 
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido 1</th>
            <th>Apellido 2</th>
            <th>Teléfono</th>
        </tr> 
    </thead>
    <tbody>
        <tr *ngFor="let c of clientes" (click)="onSelect(c)">
            <td>{{c.id}} </td>
            <td>{{c.nombre_cliente}}</td>
            <td>{{c.apellido1}}</td>
            <td>{{c.apellido2}}</td>
            <td>{{c.tel}}</td>
        </tr>
    </tbody>
</table>