<h2>Agregar Servicio</h2>
<br>
<form name="forma_agregarservicio" action="" method="POST" class="form-horizontal" role="form">
<div class="form-group">
    <label for="txtnom" class="col-lg-3 control-label">Nombre de Servicio</label>
    <div class="col-lg-8">
        <input type="text" maxlength="50" size="15" placeholder="Consulta" [(ngModel)]="modelo.nom_servicio" 
        autocomplete="off" name="txtnom" id="txtnom" class="form-control"
        style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required>
    </div>
</div>
<div class="form-group">
    <label for="txttarifa" class="col-lg-3 control-label">Nombre de Servicio</label>
    <div class="col-lg-8">
        <input type="number" size="15" placeholder="30" [(ngModel)]="modelo.tarifa_servicio" 
        autocomplete="off" name="txttarifa" id="txttarifa" class="form-control"
        style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required>
    </div>
</div>
<label for="esediv" class="col-lg-3 control-label"></label>
<div class="col-lg-8" id="esediv">
    <div class="form-group">
        <input class="btn btn-success" type="submit" (click)="insertarServicio();" value="AGREGAR SERVICIO">
        <button class="btn btn-default" type="reset">LIMPIAR CAMPOS</button>
    </div>
    <div class="form-group">
        <div *ngIf="messageOK" class="alert alert-success">{{messageOK}}</div>
        <div *ngIf="message" class="alert alert-danger">{{message}}</div>
    </div>
</div>

</form>



