<br>
<br>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Agregar Servicio</h1>
    </div>
    <div class="panel-body">
        <form name="forma_agregarservicio" action="" method="POST" action="">
        <div class="form-group">
            <label for="txtnom">Nombre de Servicio</label>
            <input type="text" maxlength="50" size="15" placeholder="Consulta" [(ngModel)]="modelo.nom_servicio" 
            autocomplete="off" name="txtnom" id="txtnom" class="form-control"
            style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required>
        </div>
        <div class="form-group">
            <label for="txttarifa">Nombre de Servicio</label>
            <input type="number" size="15" placeholder="30" [(ngModel)]="modelo.tarifa_servicio" 
            autocomplete="off" name="txttarifa" id="txttarifa" class="form-control"
            style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required>
        </div>
        <div>
            <div class="btn-group">
                <input class="btn btn-success" type="submit" (click)="insertarServicio();" value="AGREGAR SERVICIO">
                <button class="btn btn-default" type="reset">LIMPIAR CAMPOS</button>
            </div>
            <br>
            <br>
            <div *ngIf="messageOK" class="alert alert-success">{{messageOK}}</div>
            <div *ngIf="message" class="alert alert-danger">{{message}}</div>
        </div>
        </form>
    </div>
</div>

