<h2>Agregar Medida</h2>
<br>
<form name="forma_agregarmedida" action="" method="POST" class="form-horizontal" role="form">
<div class="form-group">
    <label for="txtMedida" class="col-lg-3 control-label">Nombre de Medida</label>
    <div  class="col-lg-8">
        <input type="text" maxlength="50" size="15" placeholder="Ej: Cucharada" [(ngModel)]="modelo.nom_medida" 
        autocomplete="off" name="txtMedida" id="txtMedida" class="form-control"
        style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required>
    </div>
</div>
<label for="esediv" class="col-lg-3 control-label"></label>
<div class="col-lg-8" id="esediv">
    <div class="form-group">
        <input class="btn btn-success" type="submit" (click)="insertarMedida();" value="AGREGAR MEDIDA">
        <button class="btn btn-default" type="reset">LIMPIAR CAMPOS</button>
    </div>
    <div class="form-group">
        <div *ngIf="messageOK" class="alert alert-success"><br>{{messageOK}}</div>
        <div *ngIf="message" class="alert alert-danger"><br>{{message}}</div>
    </div>
</div>
</form>


