
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Mostrar Medidas</h1>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover no-mgn-btm" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE DE MEDIDA</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medida of generateArray(medidas); let i=index">
                    <td>{{medida.id_medida}}</td>
                    <td>{{medida.nom_medida}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
