<header>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="">Consultorio Médico Online</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a routerLink="">Home<span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
        </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
</header>
<div class="losdivs2">
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li data-toggle="collapse" data-target="#clientes" class="collapsed active"><a>Clientes<span class="arrow"></span></a></li>
                <ul class="sub-menu collapse" id="clientes">
                    <li><a routerLink="/agregar-cliente">Agregar Cliente</a></li>
                    <li><a routerLink="/mostrar-clientes">Mostrar Clientes</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#medidas" class="collapsed active"><a>Medidas<span class="arrow"></span></a></li>
                <ul class="sub-menu collapse" id="medidas">
                    <li><a routerLink="/agregar-medida">Agregar Medida</a></li>
                    <li><a routerLink="/mostrar-medidas">Mostrar Medidas</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#medicamentos" class="collapsed active"><a>Medicamentos<span class="arrow"></span></a></li>
                <ul class="sub-menu collapse" id="medicamentos">
                    <li><a routerLink="/agregar-medicamento">Agregar Medicamento</a></li>
                    <li><a routerLink="/mostrar-medicamentos">Mostrar Medicamentos</a></li>
                    <li><a routerLink="/modificar-medicamento">Modificar Medicamento</a></li>
                </ul>
                <li data-toggle="collapse" data-target="#servicios" class="collapsed active"><a>Servicios<span class="arrow"></span></a></li>
                <ul class="sub-menu collapse" id="servicios">
                    <li><a routerLink="/agregar-servicio">Agregar Servicio</a></li>
                    <li><a routerLink="/mostrar-servicios">Mostrar Servicios</a></li>
                </ul>
                <li>
                    <a routerLink="">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                  <router-outlet></router-outlet>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
</div>



