<h2>Mostrar Doctores</h2>
<br>
<div class="table-responsive">  
    <table class="table table-bordered table-condensed no-mgn-btm">
        <thead>
            <tr>
                <th>NOMBRE DE USUARIO</th>
                <th>PASSWORD</th>
                <th>NOMBRE(S)</th>
                <th>APELLIDO 1</th>
                <th>APELLIDO 2</th>
                <th>FECHA DE NACIMIENTO</th>
                <th>TELÉFONO</th>
                <th>EMAIL</th>
                <th>DIRECCIÓN</th>
                <th>ACCIÓN</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doctor of generateArray(doctores); let i=index">
                <td>{{doctor.cve_doctor}}</td>
                <td>{{doctor.password_usuario}}</td>
                <td>{{doctor.nom_doctor}}</td>
                <td>{{doctor.ap1_doctor}}</td>
                <td>{{doctor.ap2_doctor}}</td>
                <td>{{doctor.fecha_nac_doctor}}</td>
                <th>{{doctor.tel_doctor}}</th>
                <th>{{doctor.email_doctor}}</th>
                <td>{{doctor.dir_doctor}}</td>
                <td align="center"><span class="label label-success" (click)="cargarmodificar(i);" data-toggle="modal" data-target="#amodificar"><strong>MODIFICAR</strong></span></td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Este es el cuerpo del Modal-->
<div class="modal fade" id="amodificar" role="dialog">
    <div class="modal-dialog">

        <!-- Este es el contenido del Modal-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modificar Doctor</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form name="forma_modificarmedida" action="" method="POST" action="">
                        <div class="form-group">
                            <label for="txtid">Nombre de Usuario</label>
                            <input type="text" maxlength="11" size="11" 
                            [(ngModel)]="cve_doctor" autocomplete="off" name="txtid" id="txtid"
                            class="form-control" disabled>
                        </div>
                        <div class="form-group">
                            <label for="txtcve">Contraseña</label>
                            <input type="text" maxlength="11" size="11"
                            [(ngModel)]="password_usuario" autocomplete="off" name="txtcve" id="txtcve"
                            class="form-control" disabled>
                        </div>
                        <div class="form-group">
                            <label for="txtnom">Nombre(s) del Doctor</label>
                            <input type="text" maxlength="45" size="11" placeholder="PITO" [(ngModel)]="nom_doctor" 
                            autocomplete="off" name="txtnom" id="txtnom" class="form-control"
                            style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required>
                        </div>
                        <div class="form-group">
                            <label for="txtap1">Apellido 1 del Doctor</label>
                            <input type="text" maxlength="45" size="11" placeholder="PEREZ" [(ngModel)]="ap1_doctor" 
                            autocomplete="off" name="txtap1" id="txtap1" class="form-control"
                            style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required>
                        </div>
                        <div class="form-group">
                            <label for="txtap2">Apellido 2 del Doctor</label>
                            <input type="text" maxlength="45" size="11" placeholder="PERAZA" [(ngModel)]="ap2_doctor" 
                            autocomplete="off" name="txtap2" id="txtap2" class="form-control"
                            style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();">
                        </div>
                        <div class="form-group">
                            <label for="txtfechanac">Fecha de Nacimiento del Doctor</label>
                            <input type="date" size="11" [(ngModel)]="fecha_nac_doctor" 
                            autocomplete="off" name="txtfechanac" id="txtfechanac" class="form-control"
                            style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required>
                        </div>
                        <div class="form-group">
                            <label for="txttel">Teléfono del Doctor</label>
                            <input type="text" maxlength="10" size="11" placeholder="6681620312" [(ngModel)]="tel_doctor" 
                            autocomplete="off" name="txttel" id="txttel" class="form-control"
                            style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required>
                        </div>
                        <div class="form-group">
                            <label for="txtemail" class="col-lg-3 control-label">Email del Doctor</label>
                            <input type="email" maxlength="100" size="15" placeholder="tuemail@gmail.com" [(ngModel)]="email_doctor" 
                            autocomplete="off" name="txtemail" id="txtemail" class="form-control input-sm">
                        </div>
                        <div class="form-group">
                            <label for="txtdir">Dirección del doctor</label>
                            <input type="text" maxlength="100" size="11" placeholder="FUENTE DE POSEIDON #166 PTE. COLONIA MAGISTERIAL" [(ngModel)]="dir_doctor" 
                            autocomplete="off" name="txtdir" id="txtdir" class="form-control"
                            style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" required>
                        </div>
                        <div>
                            <div class="btn-group">
                                <input class="btn btn-success" type="submit" (click)="modificardoctor();" value="MODIFICAR DOCTOR">
                            </div>
                            <div *ngIf="messageOK">
                                <br>
                                <div class="alert alert-success">{{messageOK}}</div>
                            </div>
                            <div *ngIf="message">
                                <br>
                                <div class="alert alert-danger">{{message}}</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
