<div class="jumbotron">
  <h2>Bienvenido a Consultorio Médico Online</h2>
  <p>Este sitio web está destinado para el servicio al cliente de consultas médicas de cierto centro médico</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
<div>
 <!--     <span><img src="/imagen1.jpg" height="42" width="42" class="img-rounded"></span>
    <span><img src="/imagen2.jpg" height="42" width="42" class="img-rounded"></span>
  </div>
  <div>
    <span><img src="/imagen3.jpg" height="42" width="42" class="img-rounded"></span>
    <span><img src="/imagen4.jpg" height="42" width="42" class="img-rounded"></span>
  </div>
</div> -->